<div data-controller="animated-background" data-animated-background-theme-value="<%= @theme || 'warm' %>" class="animated-background">

  <div data-animated-background-target="mainGradient" class=""></div>

  <div class="orbs-container">
    <div data-animated-background-target="orbLarge" class="orb-large"></div>
    <div data-animated-background-target="orbMedium" class="orb-medium"></div>
    <div data-animated-background-target="orbSmall1" class="orb-small"></div>
    <div data-animated-background-target="orbSmall2" class="orb-small-2"></div>
  </div>

  <div class="overlay"></div>
</div>
